@mixin container($container-paddings){
  position: relative;
  padding-right: 1px;
  padding-left:  1px;
  margin-right: auto;
  margin-left: auto;
}

@mixin column-width($width) {
  @if $use-flex == true {
    -webkit-box-flex: 0;
        -webkit-flex: 0 0 $width;
            -ms-flex: 0 0 $width;
                flex: 0 0 $width;
    max-width: $width;
  } @else {
    width: $width;
  }
}

@mixin clear-list($padding){
  list-style: none;
  padding-left: $padding;
}

$use-flex: false;

$pads: 15px;
$small-pads: 10px;
//
// Container
//

// .container {
//   @include container($pads);

//   @media (min-width: 576px) {
//     width: 540px;
//     max-width: 100%;
//   }
//   @media (min-width: 768px) {
//     width: 720px;
//   }
//   @media (min-width: 992px) {
//     width: 960px;
//   }
//   @media (min-width: 1200px) {
//     width: 1140px;
//   }
// }
// .container-fluid {
//   @include container($pads);
// }
.container, .container-fluid {
  width: 100%;
  box-sizing: border-box;
  @include container($pads);
}

ul.row { @include clear-list(0); }
.row > li { list-style: none; }

.row {
  box-sizing: border-box;
  @if $use-flex == true {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  margin-right: -1px;
  margin-left: -1px;
}
@if $use-flex != true {
  .row > .first,
  .col-6:nth-child(2n+1),
  .col-4:nth-child(3n+1),
  .col-3:nth-child(4n+1),
  .col-2:nth-child(6n+1),
  .col-1:nth-child(12n+1){
    clear: both;
  }

  .container:before,
  .container:after,
  .container-fluid:before,
  .container-fluid:after,
  .row:before,
  .row:after {
    display: table;
    content: " ";
  }
  .container:after,
  .container-fluid:after,
  .row:after {
    clear: both;
  }
}

//
// Columns
//
.row {
  border: 1px dashed #ccc;
}
.row > [class*="col-"] {
  border: 1px dashed transparent;
  &:hover {
    border-color: #ccc;
  }
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,.col,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: $pads;
  padding-left: $pads;
  box-sizing: border-box;
}
//
// 5 Columns on row
//
.row.columns-5 {
  margin-left: -$small-pads;
  margin-right: -$small-pads;
}
.col-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4,
.col-xl-2-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: $small-pads;
  padding-left: $small-pads;
  box-sizing: border-box;
}

@if $use-flex != true {
  .col-1, .col-2, .col-2-4, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }
  @media (min-width: 576px) {
    .col-sm-1, .col-sm-2, .col-sm-2-4, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
  }
  @media (min-width: 768px) {
    .col-md-1, .col-md-2, .col-md-2-4, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
  }
  @media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-2-4, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
  }
  @media (min-width: 1200px) {
    .col-xl-1, .col-xl-2, .col-xl-2-4, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
      float: left;
    }
  }
}

@if $use-flex == true {
  .col {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

.col-auto { @include column-width(auto); }
.col-1 { @include column-width(8.333333%); }
.col-2 { @include column-width(16.666667%); }
.col-2-4 { @include column-width(20%); }
.col-3 { @include column-width(25%); }
.col-4 { @include column-width(33.333333%); }
.col-5 { @include column-width(41.666667%); }
.col-6 { @include column-width(50%); }
.col-7 { @include column-width(58.333333%); }
.col-8 { @include column-width(66.666667%); }
.col-9 { @include column-width(75%); }
.col-10{ @include column-width(83.333333%); }
.col-11{ @include column-width(91.666667%); }
.col-12{ @include column-width(100%); }

@media (min-width: 576px) {
  @if $use-flex == true {
    .col-sm {
      -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  }
  .col-sm-auto { @include column-width(auto); }
  .col-sm-1 { @include column-width(8.333333%); }
  .col-sm-2 { @include column-width(16.666667%); }
  .col-sm-2-4 { @include column-width(20%); }
  .col-sm-3 { @include column-width(25%); }
  .col-sm-4 { @include column-width(33.333333%); }
  .col-sm-5 { @include column-width(41.666667%); }
  .col-sm-6 { @include column-width(50%); }
  .col-sm-7 { @include column-width(58.333333%); }
  .col-sm-8 { @include column-width(66.666667%); }
  .col-sm-9 { @include column-width(75%); }
  .col-sm-10{ @include column-width(83.333333%); }
  .col-sm-11{ @include column-width(91.666667%); }
  .col-sm-12{ @include column-width(100%); }
}
@media (min-width: 768px) {
  @if $use-flex == true {
    .col-md {
      -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  }
  .col-md-auto { @include column-width(auto); }
  .col-md-1 { @include column-width(8.333333%); }
  .col-md-2 { @include column-width(16.666667%); }
  .col-md-2-4 { @include column-width(20%); }
  .col-md-3 { @include column-width(25%); }
  .col-md-4 { @include column-width(33.333333%); }
  .col-md-5 { @include column-width(41.666667%); }
  .col-md-6 { @include column-width(50%); }
  .col-md-7 { @include column-width(58.333333%); }
  .col-md-8 { @include column-width(66.666667%); }
  .col-md-9 { @include column-width(75%); }
  .col-md-10{ @include column-width(83.333333%); }
  .col-md-11{ @include column-width(91.666667%); }
  .col-md-12{ @include column-width(100%); }
}
@media (min-width: 992px) {
  @if $use-flex == true {
    .col-lg {
      -webkit-flex-basis: 0;
          -ms-flex-preferred-size: 0;
              flex-basis: 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      max-width: 100%;
    }
  }
  .col-lg-auto { @include column-width(auto); }
  .col-lg-1 { @include column-width(8.333333%); }
  .col-lg-2 { @include column-width(16.666667%); }
  .col-lg-2-4 { @include column-width(20%); }
  .col-lg-3 { @include column-width(25%); }
  .col-lg-4 { @include column-width(33.333333%); }
  .col-lg-5 { @include column-width(41.666667%); }
  .col-lg-6 { @include column-width(50%); }
  .col-lg-7 { @include column-width(58.333333%); }
  .col-lg-8 { @include column-width(66.666667%); }
  .col-lg-9 { @include column-width(75%); }
  .col-lg-10{ @include column-width(83.333333%); }
  .col-lg-11{ @include column-width(91.666667%); }
  .col-lg-12{ @include column-width(100%); }
}
@media (min-width: 1200px) {
  @if $use-flex == true {
    .col-xl {
      -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  }
  .col-xl-auto { @include column-width(auto); }
  .col-xl-1 { @include column-width(8.333333%); }
  .col-xl-2 { @include column-width(16.666667%); }
  .col-xl-2-4 { @include column-width(20%); }
  .col-xl-3 { @include column-width(25%); }
  .col-xl-4 { @include column-width(33.333333%); }
  .col-xl-5 { @include column-width(41.666667%); }
  .col-xl-6 { @include column-width(50%); }
  .col-xl-7 { @include column-width(58.333333%); }
  .col-xl-8 { @include column-width(66.666667%); }
  .col-xl-9 { @include column-width(75%); }
  .col-xl-10{ @include column-width(83.333333%); }
  .col-xl-11{ @include column-width(91.666667%); }
  .col-xl-12{ @include column-width(100%); }
}

@media (min-width: 768px){
  // small containers
  .sm {
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
  .sm.left {
    padding-left: 0px !important;
    padding-right: 90px !important;
  }
  .sm.right {
    padding-left: 90px !important;
    padding-right: 0px !important;
  }
}
@media (min-width: 1200px){
  // small containers
  .sm {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
  .sm.left {
    padding-left: 0px !important;
    padding-right: 180px !important;
  }
  .sm.right {
    padding-left: 180px !important;
    padding-right: 0px !important;
  }
}


//
// No Paddings
//
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.no-paddings {
  padding-left: 0;
  padding-right: 0;
}